<div class="row">
  <div class="col-md-3 col-md-offset-4">
    <form #signUpForm="ngForm">
      <div class="form-group">
        <label for="exampleInputUsername">Username Or Email</label>
        <input type="text" class="form-control" id="exampleInputUsername"
               aria-describedby="nameHelp" placeholder="Username or Email"
               name="username" #username="ngModel" (ngModel)="username" required>
        <label for="errorInputUsername" [hidden]="!(username.touched && !username.valid)" class="error-danger">Username is not valid</label>
      </div>

      <div class="form-group">
        <label for="exampleInputPassword">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword"
               placeholder="Password"  name="password" #password="ngModel" (ngModel)="password" required>
      </div>

      <div class="form-group">
        <label for="exampleInputConfirmPassword">Confirm Password</label>
        <input type="password" class="form-control" id="exampleInputConfirmPassword"
               placeholder="Password"  name="confirmPassword" #confirmPassword="ngModel" (ngModel)="confirmPassword" required>
        <!--<label for="errorInputConfirmPassword" [hidden]="!(confirmPassword.touched && !confirmPassword.valid)" class="error-danger">Password is not matched</label>-->
      </div>

      <button type="submit" class="btn btn-primary" (click)="onSubmit()" [disabled]="!signUpForm.valid">Sign Up</button>
      <button type="submit" class="btn btn-primary" (click)="onCancel()">Cancel</button>
    </form>
  </div>
</div>


