<div class="row">
  <div class="col-lg-4 col-xl-4">
    <app-user [user]="selectedUser"></app-user>
  </div>

  <div class="col-lg-8  col-xl-8">
    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%" xmlns="">
      <thead>
      <tr>
        <th>Full Name</th>
        <th>Age</th>
        <th>Occupation</th>
        <th>Joining Date</th>
        <th>Married</th>
      </tr>
      </thead>
      <tfoot>
      <tr>
        <th>Full Name</th>
        <th>Age</th>
        <th>Occupation</th>
        <th>Joining Date</th>
        <th>Married</th>
      </tr>
      </tfoot>
      <tbody>

      <!--<tr *ngFor="let u of users" (click)="onSeletedUser(u)">-->
        <!--<td>{{u.fullName}}</td>-->
        <!--<td>{{u.age}}</td>-->
        <!--<td>{{u.occupation}}</td>-->
        <!--<td>{{u.joiningDate}}</td>-->
        <!--<td>{{u.married==true?'Married':'Unmarried'}}</td>-->
      <!--</tr>-->

      </tbody>
    </table>
  </div>
</div>
