<div class="row">
  <div class="col-md-4 offset-md-4">
      <div class="card" >
        <div class="card-body">
          <h4 class="card-title">HRM LOGIN</h4>
          <form #loginForm="ngForm">
            <div class="form-group">
              <label for="exampleInputUsername">Email</label>
              <input type="text" class="form-control" id="exampleInputUsername"
                     aria-describedby="nameHelp" placeholder="Email" name="email"
                     #email="ngModel" [(ngModel)]="loginUser.email" required>
              <label for="exampleInputUsername" [hidden]="!(email.touched && !email.valid)" class="error-danger">Email is not valid</label>
            </div>

            <div class="form-group">
              <label for="exampleInputPassword">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword"  placeholder="Password"  name="password"
                     #password="ngModel" [(ngModel)]="loginUser.password" required>
              <label for="exampleInputPassword" [hidden]="!(password.touched && !password.valid)" class="error-danger">Password is not valid</label>
              <label class="error-danger" *ngIf="error">{{errorMessage}}</label>
            </div>



            <button type="submit" class="btn btn-primary" (click)="onSubmit()" [disabled]="!loginForm.valid">Login</button>
            <button type="submit" class="btn btn-primary" (click)="onSignUp()">Sign Up</button>
          </form>

        </div>
      </div>
  </div>
</div>
